<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>List of Tickets</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>Ticket Title</th>
			<th>Ticket Short Description</th>
			<th>Ticket Created on</th>
			<th>Actions</th>
		</tr>
		<tr th:each="ticket:${tickets}">
			<td th:text="${ticket.id}"></td>
			<td th:text="${ticket.title}"></td>
			<td th:text="${ticket.date}"></td>
		</tr>
	</table>
</body>
</html>